footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 90px;
    text-align: center;
}

.page-content{
    margin-top: 8em;
    color: white;
    text-align: center;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    background: url('https://wallpaperscraft.com/image/book_table_sheets_pages_light_44458_2560x1600.jpg') center / cover;
}

.mdl-layout__header{
    background-color: white !important;
    color: blue !important;
}